{% extends 'base.html' %}

 {% block content %} 
	<h1>{{titulo}}</h1>
	<ul>
		<li> Set de Datos : {{input.GPS_layer}} </li>
		<p></p>
		<li> Red Vial : {{input.red_vial_layer}} </li>
		<p></p>
		<li> Ruta de Base de Datos : {{input.gbd_root}} </li>
		<p></p>
		<li> Sistema de Medidas : {{input.metrica}} </li>
		<p></p>
		<li> Comprimido de Base de Datos : {{input.gbd.path}} </li>
		<p></p>
		<li> Descripción : {% if input.description != '' %}{{input.description}}{% else %} Descripcion se esta escribiendo {% endif %} </li>
	</ul>

	<a href="/apply/{{input.id}}"> Aplicar algoritmo</a>

	<p> </p>
{% endblock %}